
<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BEMOS - Benutzerhandbuch</title>
  <link rel="stylesheet" href="hilfe.component.css">
  <style>
  </style>
</head>

<body>
<h1>{{title}}</h1>
<h3>Anmeldung und Oberfläche</h3>

<p><strong>1. Anmeldung:</strong></p>
<ul>
  <li>Besuchen Sie die <a href="https://aalh57.git-pages.thm.de/vm_simulator" target="_blank">BEMOS-Webseite</a>.</li>
  <li>Keine Anmeldung erforderlich – starten Sie sofort!</li>
</ul>
<hr>
<h3>Benutzeroberfläche</h3>

<p>Die Benutzeroberfläche von BEMOS bietet eine Vielzahl von Funktionen, um die Nutzung des Simulators <br>
  intuitiv und effektiv zu gestalten:</p>

<ol>
  <li><strong>Laden:</strong>
    <ul>
      <li>Ermöglicht das Laden eines gespeicherten Codes oder einzelner Instruktionen in binärer Eingabe.</li>
    </ul>
  </li>

  <li><strong>Ausführen:</strong>
    <ul>
      <li>Startet die Ausführung des geladenen Maschinencodes im Simulator. Der Code wird kontinuierlich
        ausgeführt, bis gestoppt wird.</li>
    </ul>
  </li>

  <li><strong>Schritt:</strong>
    <ul>
      <li>Erlaubt es, den Code schrittweise auszuführen, Anweisung für Anweisung.</li>
    </ul>
  </li>

  <li><strong>Suchen:</strong>
    <ul>
      <li>Verwendet ADDR, um im Speicher Daten anzuzeigen. Suchen wird genutzt, um den PC auf den Beginn
        des Maschinencodes zu setzen.</li>
    </ul>
  </li>

  <li><strong>Rücksetzen:</strong>
    <ul>
      <li>Setzt den Simulator zurück, um einen neuen Programmstart zu ermöglichen. (PC, ADDR, DATA, INSTR,
        REGISTER werden auf Null zurückgesetzt.)</li>
    </ul>
  </li>

  <li><strong>Text Speichern:</strong>
    <ul>
      <li>Ermöglicht das Speichern des aktuellen Zustands des Maschinencodes und der Register in einem
        definierten Speicherbereich.</li>
    </ul>
  </li>

  <li><strong>Text Laden:</strong>
    <ul>
      <li>Lädt Maschinencodes aus einer Textdatei.</li>
    </ul>
  </li>

  <li><strong>Eingabemethoden:</strong>
    <ul>
      <li>Bietet drei Arten der Maschinencode- und Dateneingabe: Binär, Text und Laden aus einer Datei.
      </li>
    </ul>
  </li>

  <li><strong>Tabellen:</strong>
    <ul>
      <li><strong>Speicher und Daten-Tabelle:</strong> Zeigt den Speicherinhalt und die aktuellen Befehle
        des Program Counter (PC) an.</li>
      <li><strong>Register-Tabelle:</strong> Detaillierte Ansicht aller Register und ihrer aktuellen Werte.
      </li>
      <li><strong>Aktueller PC und IR-Tabelle:</strong>
        Zeigt den aktuellen Stand des Program Counters (PC) und des Instruction Registers (IR) während <br>
        der Ausführung des Codes an.</li>
    </ul>
  </li>

</ol>
<hr>

<h3>Instruktionen:</h3>

<ul>
  <li><strong>Instruktions-Set:</strong>
    <ul>
      <li>Halt, Arithmetische, Logische, Speicher- und Speicher-Adresse-Instruktionen sowie
        Kontrollfluss-Instruktionen.</li>

      <div align="center">
        <div style="width: 80%;">
          <table>
            <thead>
            <tr>
              <th>opcode</th>
              <th>Beschreibung</th>
              <th>Format</th>
              <th>pseudo-code</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>0</td>
              <td>halt</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>1</td>
              <td>add</td>
              <td>1</td>
              <td>R[d] &larr; R[s] + R[t]</td>
            </tr>
            <tr>
              <td>2</td>
              <td>sub</td>
              <td>1</td>
              <td>R[d] &larr; R[s] - R[t]</td>
            </tr>
            <tr>
              <td>3</td>
              <td>bitwise and</td>
              <td>1</td>
              <td>R[d] &larr; R[s] and R[t]</td>
            </tr>
            <tr>
              <td>4</td>
              <td>bitwise xor</td>
              <td>1</td>
              <td>R[d] &larr; R[s] xor R[t]</td>
            </tr>
            <tr>
              <td>5</td>
              <td>left shift</td>
              <td>1</td>
              <td>R[d] &larr; R[s] &lt;&lt; R[t]</td>
            </tr>
            <tr>
              <td>6</td>
              <td>right shift</td>
              <td>1</td>
              <td>R[d] &larr; R[s] &gt;&gt; R[t]</td>
            </tr>
            <tr>
              <td>7</td>
              <td>load address</td>
              <td>2</td>
              <td>R[d] &larr; addr</td>
            </tr>
            <tr>
              <td>8</td>
              <td>load</td>
              <td>2</td>
              <td>R[d] &larr; M[addr]</td>
            </tr>
            <tr>
              <td>9</td>
              <td>store</td>
              <td>2</td>
              <td>M[addr] &larr; R[d]</td>
            </tr>
            <tr>
              <td>A</td>
              <td>load indirect</td>
              <td>1</td>
              <td>R[d] &larr; M[R[t]]</td>
            </tr>
            <tr>
              <td>B</td>
              <td>store indirect</td>
              <td>1</td>
              <td>M[R[t]] &larr; R[d]</td>
            </tr>
            <tr>
              <td>C</td>
              <td>branch zero</td>
              <td>2</td>
              <td>if (R[d] == 0) PC &larr; addr</td>
            </tr>
            <tr>
              <td>D</td>
              <td>branch positive</td>
              <td>2</td>
              <td>if (R[d] &gt; 0) PC &larr; addr</td>
            </tr>
            <tr>
              <td>E</td>
              <td>jump register</td>
              <td>-</td>
              <td>PC &larr; R[d]</td>
            </tr>
            <tr>
              <td>F</td>
              <td>jump and link</td>
              <td>2</td>
              <td>R[d] &larr; PC ; PC &larr; addr</td>
            </tr>
            <!-- Weitere Zeilen hier ... -->
            </tbody>
          </table>
        </div>
      </div>
    </ul>
  </li>

  <li><strong>Darstellung der Instruktionen:</strong>
    <ul>
      <li> Format 1: &nbsp;&nbsp; [op | d | s | t] &nbsp;&nbsp;&nbsp;  (op, d, s, t: sind Register mit jeweils 4-Bit)</li>
      <li> Format 2:&nbsp;&nbsp; [op | d | st] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (op, d: 4-Bit, st: 8-Bit)</li>
      <li>Die ersten 4-Bits der Instruktion repräsentieren den Opcode, die restlichen 4-Bits die Register.</li>
      <li>Die Auswahl des Formats hängt vom Opcode ab.</li>
    </ul>
  </li>

  <li><strong>Die maschinencode Eingabe Format</strong>
    <ul>
      <li>Eingabe erfolgt im Hexadezimalformat.</li>
      <li>Die Eingabe Format muss wie folgt aussehen Speicher Adress : Instruktion (z.B., 0A: 1234).</li>
      <li>Speicher Adress (8-Bit codiert) und Instruktion (16-Bit codiert) mit ":" getrennt.</li>
      <li>Das Ergebnis wird als Hexadecimal dargstellt</li>

    </ul>
  </li>

  <li><strong>Maschinencode Beispiel: Addition(z = x + y):</strong>
    <pre>
    10: 8A15   // Lade den Inhalt der Speicheradresse 15 in das Register R[A].
    11: 8B16   // Lade den Inhalt der Speicheradresse 16 in das Register R[B].
    12: 1CAB   // Führe die Addition R[A] + R[B] durch und speichere das Ergebnis im Register R[C].
    13: 9C17   // Speichere den Inhalt des Registers R[C] an der Speicheradresse 17.
    14: 0000   // Befehl zum Anhalten der Ausführung.
    15: 0008   // Konstante 08
    16: 0005   // Konstante 05
    17: 0000   // Ergebnis der Addition (wird nach Ausführung berechnet)
  </pre>
  </li>
  <li><strong>Das Ergebnis der Addition:</strong>
    <pre>
    Speicheradresse M[17] (hex): 000D
    Register R[C] (hex): 000D
    Register R[C] (dez): 13
  </pre>
  </li>
  <hr>
</ul>

<h3>Hinweis zum Program Counter (PC)</h3>
<p><strong>Wichtiger Hinweis:</strong><br>
  Der Program Counter (PC) ist standardmäßig auf die Speicheradresse 10 gesetzt.<br>
  Falls Ihr Maschinencode nicht mit der Speicheradresse 10 beginnt,<br>
  verwenden Sie bitte die "Suchen" oder "Look" Funktion, um den PC auf die<br>
  entsprechende Speicheradresse zu setzen.</p>

<p><strong>Beispiel:</strong><br>
  Wenn Ihr Maschinencode mit der Speicheradresse 40 beginnt (z.B., 40: 7101), verwenden Sie die "Suchen" Funktion, <br>
  um den PC auf 40 zu setzen.</p>

<p>Dadurch stellen Sie sicher, dass die Simulation korrekt und ab der gewünschten Speicheradresse gestartet wird.</p>
<hr>
<h3>Hinweise zur Eingabe</h3>

<p><strong>Erlaubte Elemente:</strong></p>
<ul>
  <li>Kommentare sind erlaubt.</li>
  <li>Leerzeilen sind erlaubt und werden ignoriert.</li>
  <li>Die Verwendung der Buchstaben A bis F für Hexadezimalzahlen ist erlaubt.</li>
</ul>

<p><strong>Nicht erlaubte Elemente:</strong></p>
<ul>
  <li>Eine Zeile ohne ":" (Doppelpunkt) ist nicht erlaubt.</li>
  <li>Die Darstellung des Program Counters (PC) als 3 oder mehr Ziffern ist nicht erlaubt.</li>
  <li>Eine Instruktion mit mehr als 5 Ziffern ist nicht erlaubt.</li>
  <li>Die Verwendung der Buchstaben G bis Z ist nicht erlaubt, da keine ansprechenden Register für diese <br>
    Buchstaben existieren und sie nicht im Hexadezimalformat dargestellt werden können.</li>
</ul>

<p><strong>Beispiel für erlaubte Eingabe:</strong><br>
  10: 7101 // Beispiel für eine gültige Zeile mit Kommentar.<br>
  20: A102 // Beispiel für eine weitere gültige Zeile mit Kommentar und Hexadezimalzahl.</p>

<p><strong>Beispiel für nicht erlaubte Eingabe:</strong><br>
  30 // Nicht erlaubt: Zeile ohne ":".<br>
  40: 12345 // Nicht erlaubt: Instruktion mit mehr als 5 Ziffern.<br>
  50: 123456 // Nicht erlaubt: Instruktion mit mehr als 5 Ziffern.<br>
  606: 0001 // Nicht erlaubt: Darstellung des PC als 3 Ziffern.<br>
  70: G101 // Nicht erlaubt: Verwendung von Buchstaben G bis Z.</p>
<hr>
<h3>Hinweise zur Fehlerbehandlung</h3>

<p>Wenn während der Eingabe Fehler auftreten, wird eine Fehlermeldung angezeigt, die den Studenten darauf hinweist,
  wo der Fehler liegt.</p>
<hr>
<h3>Starten Sie Ihre Entdeckungsreise:</h3>

<p>Erleben Sie die Welt der maschinennahen Programmierung mit BEMOS! <br>
  Viel Erfolg bei Ihren Simulationen und
  Entdeckungen.</p>

</body>

</html>
