
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1, h2, h3 {
  color: #0056b3;
}

h2 {
  margin-top: 30px;
}

h3 {
  margin-top: 20px;
}

p {
  line-height: 1.6;
}

ul, ol {
  margin-bottom: 20px;
}

li {
  margin-bottom: 8px;
}

strong {
  color: #008000;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

caption {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

code {
  background-color: #f4f4f4;
  padding: 2px 5px;
  border: 1px solid #ccc;
}
