<ul class="nav nav-tabs nav-justified pb-4">
  <li class="nav-item" *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active">
    <a class="nav-link" href="#">{{tab.title}}</a>
  </li>
</ul>
<ng-content></ng-content>
