 <ng-container *ngIf="wmMachine">


  <app-tab tabTitle="Tab 2">
    Tab 2 content
  </app-tab>


  <div class="ps-4 mt-4 row">
    <h3>Berechnungsmodell-Simulator</h3>
    <div class="col">
      <app-tabs>
        <app-tab [tabTitle]="'BINARY'">
          <div class="btn-group mt-4 mb-4 gap-5 d-flex justify-content-center">
            <input class="btn btn-primary" type="button" value="Laden" (click)="load()">
            <input class="btn btn-primary" type="button" value="SpeicherAdressSuchen" (click)="look()">
          </div>
          <div class="mt-4 mb-4">
            <div class="row">
              <label class="col-1">PC</label>
              <div class="col-5">
                <ng-container *ngFor="let nibble of wmMachine.pc; let i = index;">
                  <span class="px-2"></span>
                  <ng-container *ngFor="let bit of nibble.bits; let j = index">
                    <input type="checkbox" disabled [name]="'pc'+i+j" [checked]="bit.checked">
                  </ng-container>
                </ng-container>
              </div>
            </div>

            <div class="row">
              <label class="col-1">ADDR</label>
              <div class="col-5">
                <ng-container *ngFor="let nibble of wmMachine.addres; let i = index;">
                  <span class="px-2"></span>
                  <ng-container *ngFor="let bit of nibble.bits; let j = index;">
                    <input type="checkbox" [name]="'addres'+i+j"  [checked]="bit.checked" [value]="bit.value" (change)="bit.checked = !bit.checked">
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="mt-5">
            <div class="row">
              <label class="col-1">INSTR</label>
              <div class="col-6">
                <ng-container *ngFor="let nibble of wmMachine.instr; let i = index;">
                  <span class="px-2"></span>
                  <ng-container *ngFor="let bit of nibble.bits; let j = index">
                    <input type="checkbox" disabled [name]="'instr'+i+j" [checked]="bit.checked">
                  </ng-container>
                </ng-container>
              </div>
            </div>

            <div class="row">
              <label class="col-1">DATA</label>
              <div class="col-6">
                <ng-container *ngFor="let nibble of wmMachine.data; let i = index;">
                  <span class="px-2"></span>
                  <ng-container *ngFor="let bit of nibble.bits; let j = index;">
                    <input type="checkbox" [name]="'data'+i+j"  [checked]="bit.checked" [value]="bit.value" (change)="bit.checked = !bit.checked">
                  </ng-container>
                </ng-container>
              </div>
            </div>

          </div>
        </app-tab>
        <app-tab [tabTitle]="'TEXT'">
          <div class="btn-group mt-4 mb-4 gap-5 d-flex justify-content-center">
            <input class="btn btn-primary" type="button" value="Text Laden" (click)=" loadText()">
            <input class="btn btn-primary" type="button" value="Text Speichern" (click)="saveText()">
          </div>
          <textarea #textInput [name]="textInput" placeholder="please enter text in Hexadecimal in this format -> Addres: Instraction

10: 8A04" rows="10"></textarea>
        </app-tab>
        <app-tab [tabTitle]="'Datei Laden'">
          <input #fileUploader type="file" (change)="onChange($event)">
        </app-tab>
      </app-tabs>

      <div class="btn-group mt-4 mb-4 gap-5">
        <input  type="text" id="stdInput" >
        <input class="btn btn-primary" type="button" value="Submit" id="mybutton">
      </div>

      <div class="btn-group mt-4 mb-4 gap-5">
        <textarea id="stdout" disabled>
        </textarea>
      </div>

      <div class="btn-group mt-4 mb-4 gap-5">
        <input class="btn btn-primary" [disabled]="checkWmStatus()" type="button" value="Schritt" (click)="step()">
        <input class="btn btn-primary" [disabled]="checkWmStatus()" type="button" value="Ausführen" (click)="run()">
        <input class="btn btn-primary" type="button" value="Rücksetzen" (click)="reset()">
      </div>
    </div>


    <div class="col">
      <a routerLink="/hilfe"><button class="btn btn-primary" > Hilfe </button></a>
      <table class="table table-dark text-center">
        <thead>
        <tr>
          <th>Speicher</th>
          <th>Daten</th>
        </thead>
        <tbody>
        <ng-container *ngFor="let memoryValue of wmMachine.memory | keyvalue">
          <tr [class]="{'selection': isSelected(memoryValue.key, this.wmMachine.currentPc)}" >
            <td>{{getHexadecimalValue(memoryValue.key,false)}}</td>
            <td>{{getHexadecimalValue(memoryValue.value, true)}}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ps-4 mt-4 row">
    <div class="col">
      <table class="table table-secondary text-center">
        <thead>
        <tr>
          <th>Register</th>
          <th>Hexa</th>
          <th>Dezimal</th>
        </thead>
        <tbody>
        <ng-container *ngFor="let register of wmMachine.register; let i = index;">
          <tr>
            <td>
              R[{{getHexadecimalValue(i,false)}}]
            </td>
            <td>
              {{getHexadecimalValue(register, true)}}
            </td>
            <td>
              {{register}}
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-secondary text-center">
        <thead>
        <tr>
          <th>Der aktuelle PC</th>
          <th>Der aktuelle IR</th>
        </thead>
        <tbody>
        <tr>
          <td>
            {{getHexadecimalValue(wmMachine.currentPc, false)}}
          </td>
          <td>
            {{getHexadecimalValue(wmMachine.currentIr, true)}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
